.edit-user-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border:solid 1px var(--colorSecondary);
    border-radius: 8px;
    padding: 20px;
    width: 70%;
    height: 80%;
    margin: auto;
    font-size: 25px;
    background-color: #2c2c2c6c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   
    z-index: 5;

    label{
        font-weight: 500;
        font-size: 1rem;
        color: var(--colorText);    
    }
    input, select{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--colorSecondary);
        background-color: var(--colorBackgroundSecondary);
        color: var(--colorText);
        font-size: 1rem;
        margin: 10px;
    }
    textarea{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--colorSecondary);
        background-color: var(--colorBackgroundSecondary);
        color: var(--colorText);
        font-size: 1rem;
        resize: vertical;
    }
    button{
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: var(--colorPrimary);
        color: var(--colorText);
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 20px;
        &:hover {
            background-color: var(--colorPrimaryHover);
        }
    }

}
.form-register-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.video-background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.upload-label {
  background: #1f1f1f;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.upload-label:hover {
  background: #333;
}

.image-preview {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
