.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    color: var(--colorText);

    padding: 0 2rem;
    background-color: var(--colorBackground);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.945);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.sigin-buttons{
    display: flex;
    gap:1em;
    
    button{

        font-size: 1.5em;
        font-family: "Poppins", sans-serif;
        border: none;
        border-radius: 5px;
        background-color: var(--colorPrimary);
        color: var(--colorText);
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover{
            background-color: #f8f9fa;
        }
    }
    /*hover*/
    button:hover{
        background-color: #0c0c0c;
        color: #ffffff;
        border: 1px solid var(--colorPrimary);
    }
}

.header-right{
    display: flex;
    gap: 1em;
}

/*responsive*/
@media screen and (max-width: 868px){
    .sigin-buttons{
        gap: 0.5em;
        button{
            font-size: 1em;
        }
    }
}

