.hamburger-menu {
    position: relative;
}

.hamburger {
    margin-top: 6px;
    cursor: pointer;
    width: 50px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    font-family: "Almendra", serif;
}

.line {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.5s ease;
}

.menu {
    position: absolute;
    top: 4.3rem;
    right: 2rem;
    height: 48rem;
    width: 110rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.3s ease;
    z-index: -1;
    display: none;
}

.menu.is-open {
    display: flex;
    z-index: 1000;
  
    opacity: 1;
    transform: translateY(0);

}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    font-size: 5rem;
    font-family: "Almendra", serif;
}

.menu a:hover {
    color: #f8f9fa;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.8s ease-in;

    
}

.hamburger.is-open .line.up {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.is-open .line.down {
    transform: translateY(-10px) rotate(-45deg);
}

/*responsive*/
@media screen and (max-width: 820px) {
    .menu {
        width: 30rem;
        top: 3.3rem;
        right: -2rem;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.3s ease;

    }
}