.footer-container{
    background-color: var(--colorBackground);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--colorText);
    font-family: "Poppins", sans-serif; 
    width: 100%;
}